<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
tr:hover {background-color: #D6EEEE;}
tr {
  border-bottom: 1px solid #ddd;
}
</style>
<body>
    <h1>Our Current Users</h1>
    <ul>
        <table style="width: 50%;">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <% for (let i = 0; i < users.length; i++) { 
            let user = users[i]; %>
                <tr onclick="window.location='/users/<%= i %>'">
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                </tr>
            <% } %>
        </table>
    </ul>
</body>
</html>